body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
    font-size: 110%;
    text-indent: 2vmax;
    border: lightslategray solid;
    margin: 5%;
    padding: 5%;    
    background-color: ivory;
}
h1 {
    color: rgb(49, 48, 48);
}
.smaller-image {
    width: 200px
}
h3 {
    font-family: Chalkduster, fantasy;
    font-style: oblique;
    color: midnightblue;
}
.jumping {
    color: rgb(34, 104, 184);
    font-weight: bold;
}
.youtube {
    border-inline-color: white;
}
.Arthur {
    width: 90%;
}
footer {
    background-color: rgb(113, 157, 196);
}